@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

body{
    font-family: 'Changa', sans-serif;
    overflow: hidden;
    background: conic-gradient(from .5turn at top right, darkseagreen, darkslategray);
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    border: 4px solid #dc9a2c;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    color: #ec5a2a;
    background: #eae1dcdf;
}

.digitalClock h1{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media(max-width:768px){
    #bar1, #bar2{
        display: none;
    }
    .digitalClock{
        text-align: center;
        width: 100% ;
    }
    .digitalClock h1{
        display: block;
    }
}

@media(max-width:480px){
    .digitalClock h1{
        font-size: 4 rem;
    }
}
